h1 Presenter

#add-form
  h2 Add Video
  input(type="text", name="title", id="new-video-title")
  label(for="title") Title
  br
  input(type="text", name="youtube", id="new-video-id")
  label(for="youtube") YouTube ID
  br
  input(type="submit", val="Add Video", id="submit-new-video")


#big-player The big player goes here.

#rankedQueue 
  #rank-1
    #title
    #video
  #rank-2
    #title
    #video
  #rank-3
    #title
    #video

ul#completeQueue
  
