!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='http://static.firebase.com/demo/firebase.js')
    script(type='text/javascript', src='javascripts/debug-console.js')
    script(type='text/javascript', src='javascripts/client.js')

  body
    #container 
      != body
    #debug-console
      #debug-message-history 
        
    

